* {
  margin: 0;
  box-sizing: border-box;
  font-family: Commissioner ,'Courier New', Courier, monospace;
}

.body {
  height: 100vh;
  width: 100%;
  background-color: rgb(41, 38, 38);
}

.managebox {
  height: 100%;
  width: 100%;
  background-color: #f7f8f9;

  &__nav {
    min-height: 68px;
    width: 100%;
    height: 68px;
    background-color: #ffffff;
    padding: 12px 24px;
    gap: 8px;
    // display: flex;
    // align-items: center;

    &__text {
      height: 32px;
      width: 1084px;
      gap: 12px;

      &__con {
        height: 32px;
        width: 154px;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0px;
        color: #29313A;
      }
    }
  }
}

.dataPart {
  width: 100%;
  height: 710px;
  padding: 24px;
  gap: 24px;
  box-shadow: 
    0px 2px 4px 0px #0000000F,
    0px 2px 8px 0px #0426520F;
}

.userlist {

  // min-height: 670px; // for table extension //

  height: 670px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  &__search {
    width: 100%;
    height: 66px;
    padding: 16px 14px;
    border-bottom: 1px solid #C2CAD3;
    background-color: #ffffff;

    &__box {
      width: 310px;
      height: 34px;
      max-width: 310px;
      min-height: 34px;
      border-radius: 4px;
      border: 1px solid #C2CAD3;
      padding: 4px 8px;
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      gap: 4px;

      &__in {
        outline: none;
        border: none;
        font-size: 14px;
        width: 268px;
        height: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
      }

      &__in::placeholder {
        color: #C2CAD3;
      }

      &__svg {
        
        &__path {
          width: 13.64px;
          height: 13.64px;
          top: 5px;
          left: 5px;
          color: #677A90;
          border: 1px solid #666666;
        }
      }
    }
  }

  &__memberlayout {
    height: 40px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #C2CAD3;
    background-color: #FFFFFF;

    &__name {
      padding: 8px;
      height: 40px;
      display: flex;
      min-width: 100%;

      &__con {
        width: 38px;
        height: 24px;
        padding-right: 4px;
        padding-left: 4px;
        display: flex;

        &__use {
          width: 30px;
          height: 24px;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0px;
          vertical-align: middle;
          color: #29313A;
        }
      }

      &__symb {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__svg {
          height: 12.5px;
          width: 9px;
          top: 5.75px;
          left: 7.5px;
          color: #8595A6;


          &__svg1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 7px;
          }

          &__svg2 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 7px;
          }
        }
      }

    }

    &__company {
      padding: 8px;
      height: 40px;

      &__label {
        width: 70px;
        height: 24px;
        padding-right: 4px;
        padding-left: 4px;
        
        &__name {
          width: 62px;
          height: 24px;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0px;
          vertical-align: middle;
          color: #29313A;
        }
      }
    }

    &__address {
      padding: 8px;
      height: 40px;
      
      &__label {
        width: 60px;
        height: 24px;
        padding-right: 4px;
        padding-left: 4px;

        &__name {
          width: 52px;
          height: 24px;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0px;
          vertical-align: middle;
          color: #29313A;
        }
      }
    }

    &__role {
      padding: 8px;
      height: 40px;

      &__label {
        width: 37px;
        height: 24px;
        padding-right: 4px;
        padding-left: 4px;

        &__name {
          width: 29px;
          height: 24px;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0px;
          vertical-align: middle;
          color: #29313A;
        }
      }
    }

    &__phone {
      padding: 8px;
      height: 40px;

      &__label {
        width: 49px;
        height: 24px;
        padding-right: 4px;
        padding-left: 4px;

        &__name {
          width: 41px;
          height: 24px;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0px;
          vertical-align: middle;
          color: #29313A;
        }
      }
    }
  }

  &__memberlist {
    // scroll contion //

    height: 80%;    
    overflow: auto;

    &__body {

      &__member {
        height: 56px;
        border-bottom: 1px solid #E1E4E9;

        &__name {
          width: 100%;
          padding: 8px 12px;
          background-color: #ffffff;

          &__full {
            height: 20px;
            width: 227px;
            gap: 4px;
            text-wrap: nowrap;

            &__name {
              width: 69px;
              height: 20px;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              letter-spacing: 0px;
              color: #29313A;
            }
          }

          &__email {
            height: 20px;
            width: 110px;
            gap: 4px;

            &__con {
              width: 110px;
              height: 20px;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              letter-spacing: 0px;
              color: #677A90;
            }
          }
        }

        &__company {
          width: 100%;
          padding: 8px 12px;
          background-color: #ffffff;
          vertical-align: top;

          &__name {
            width: 152px;
            height: 20px;
            gap: 4px;
            text-wrap: nowrap;

            &__con {
              width: 102px;
              height: 20px;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              letter-spacing: 0px;
              color: #29313A;
            }
          }
        }

        &__address {
          width: 100%;
          padding: 8px 12px;
          background-color: #FFFFFF;
          vertical-align: top;

          &__name {
            width: 266px;
            height: 20px;
            gap: 4px;
            text-wrap: nowrap;

            &__con {
              width: 266px;
              height: 20px;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              letter-spacing: 0px;
              color: #29313A;
            }
          }
        }

        &__role {
          width: 100%;
          padding: 8px 14px;
          background-color: #FFFFFF;
          vertical-align: top;

          &__name {
            height: 20px;
            width: 136px;
            gap: 4px;

            &__con {
              width: 36px;
              height: 20px;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              letter-spacing: 0px;
              color: #29313A;
            }
          }
        }

        &__phone {
          width: 100%;
          padding: 8px 12px;
          background-color: #FFFFFF;
          vertical-align: top;

          &__name {
            height: 20px;
            width: 183px;
            gap: 4px;
            text-wrap: nowrap;

            &__con {
              width: 89px;
              height: 20px;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              letter-spacing: 0px;
              color: #29313A;
            }
          }
        }
      }
    }

    &__loadname {
      height: 12px;
      width: 93%;
      margin: auto;
      background-color: #E1E4E9;
      border-radius: 16px;
    }

    &__loadcompany {
      width: 93%;
      margin: auto;
      height: 12px;
      background-color: #E1E4E9;
      border-radius: 16px;
    }

    &__loadaddress {
      height: 12px;
      margin: auto;
      width: 93%;
      background-color: #E1E4E9;
      border-radius: 16px;
    }

    &__loadrole {
      height: 12px;
      margin: auto;
      width: 93%;
      background-color: #E1E4E9;
      border-radius: 16px;
    }

    &__loadphone {
      height: 12px;
      margin: auto;
      width: 93%;
      background-color: #E1E4E9;
      border-radius: 16px;
    }
  }

  &__nodata {
    height: 499px;
    width: 100%;
    padding: 48px 16px;
    gap: 4px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    &__first {
      width: 100%;
      height: 16px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0px;
      vertical-align: middle;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__second {
      height: 16px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0px;
      vertical-align: middle;
      color: #677A90;
      display: flex;
      align-items: center;
      justify-content: center;
      text-wrap: nowrap;
    }
  }

  &__foot {
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #C2CAD3;
    padding: 8px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: right;

    &__main {
      display: flex;
      height: 34px;
      gap: 8px;
      padding: 0px 4px;


      &__show {
        width: 105px;
        height: 32px;
        display: flex;
        align-items: center;
        gap: 8px;

        &__name {
          width: 31px;
          height: 20px;
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0px;
          color: #677A90
        }

        &__setlimit {
          height: 32px;
          width: 66px;
          position: relative;
          display: flex;
          gap: 8px;
          border: 1px solid #C2CAD3;
          background-color: #FFFFFF;
          border-radius: 4px;
          padding: 4px 8px;

          &__limit {
            width: 22px;
            height: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #29313A;
            letter-spacing: 0%;
            border: none;
          }

          &__btn {
            height: 24px;
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            &__svg {
              color: #677A90;
              width: 10.56px;
              height: 6.18px;
              top: 8.89px;
              left: 6.49px;
            }
          }

          &__range {
            width: 60px;
            min-height: 50px;
            background-color: #ffffff;
            position: absolute;
            bottom: 35px;
            border-radius: 8px;
            color: #29313A;
            border: 1px solid #29313A;
            
            &__num {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-top: 5px;
              padding-bottom: 5px;
              cursor: pointer;
            }
          }
        }
      }

      &__pagination {
        // width: 325px;
        height: 34px;
        gap: 4px;
        display: flex;

        &__change {
          display: flex;
          gap: 4px;
          height: 34px;
          // width: 338px;

          &__dots {
            height: 32px;
            width: 32px;
            padding: 6px 8px;
            border-radius: 8px;

            &__con {
              width: 17px;
              height: 16px;
              padding: 0px 4px;

              &__name {
                width: 9px;
                height: 16px;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0px;
                vertical-align: middle;
                color: #677A90;
              }
            }
          }

          &__box {
            width: 34px;
            height: 34px;
            border-radius: 8px;
            padding: 6px;
            gap: 2px;
            border: none;
            background-color: transparent;

            &__con {
              height: 20px;
              width: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &__dark {
            background-color: #F0F2F4;
            border: none;
            width: 34px;
            height: 34px;
            border-radius: 8px;
            gap: 2px;
            padding: 6px;

            &__con {
              height: 20px;
              width: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &__numbox {
            padding: 6px 8px;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;

            &__con {
              height: 16px;
              width: 15px;
              padding: 0px 4px;

              &__name {
                width: 7px;
                height: 16px;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0px;
                color: #677A90;
              }
            }

            &--activate {
              background-color: #EBF5FF;
              width: 32px;
              height: 32px;
              border-radius: 8px;
              border: 1px solid #084782;
              padding: 6px 8px;
            }
          }
        }
      }
    }
  }
}


table {
  width: 100%;
  border-collapse: collapse; /* removes gaps */
  table-layout: fixed;     /* important for consistent column widths */
  font-weight: normal;
}

th:nth-child(1), td:nth-child(1) {
  width: 23%;
}

th:nth-child(2), td:nth-child(2) {
  width: 16%;
}

th:nth-child(3), td:nth-child(3) {
  width: 27%;
}

th:nth-child(4), td:nth-child(4) {
  width: 15%;
}

th:nth-child(5), td:nth-child(5) {
  width: 19%;
}

th{
  text-align: left;
  vertical-align: middle;
}

td {
  text-align: left;
}