* {
  margin: 0;
  box-sizing: border-box;
  font-family: Commissioner ,'Courier New', Courier, monospace;
}

.body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 38, 38);
}

.managebox {
  min-height: 778px;
  min-width: 1132px;
  height: 100%;
  width: 100%;
  background-color: #f7f8f9;
  position: relative;

  &__nav {
    min-height: 68px;
    width: 100%;
    background-color: #ffffff;
    padding: 12px 24px;
    height: 68px;
    display: flex;
    align-items: center;

    &__text {
      font-weight: 500;
      height: 32px;
      min-width: 1084px;
      font-size: 24px;
      text-wrap: nowrap;
      letter-spacing: 0px;
      line-height: 32px;
      color: #29313A;
    }
  }
}

.userlist {
  height: 686px;
  min-width: 1084px;
  width: 95%;
  background-color: #ffffff;
  margin: 20px auto;
  border-radius: 8px;

  &__search {
    width: 100%;
    min-width: 1084px;
    height: 66px;
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 16px 14px;
    border-bottom: 1px solid #C2CAD3;

    &__box {
      width: 310px;
      height: 34px;
      max-width: 310px;
      min-height: 34px;
      border-radius: 4px;
      border: 1px solid #C2CAD3;
      padding: 4px 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 8px;

      &__in {
        outline: none;
        border: none;
        font-size: 14px;
        width: 268px;
        font-style: regular;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
      }
    }
  }

  &__memberlayout {
    height: 40px;
    width: 100%;
    min-width: 1084px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  &__memberlist {
    height: 74%;
    width: 100%;
    min-width: 1084px;

    &__body {

      &__member {
        font-size: 12px;
        font-weight: 400;
        max-height: 56px;
        height: 56px;
        line-height: 20px;
        letter-spacing: 0px;
      }
    }

    &__loadname {
      height: 12px;
      width: 95%;
      background-color: #E1E4E9;
      border-radius: 16px;
    }

    &__loadcompany {
      width: 95%;
      height: 12px;
      background-color: #E1E4E9;
      border-radius: 16px;
    }

    &__loadaddress {
      height: 12px;
      width: 95%;
      background-color: #E1E4E9;
      border-radius: 16px;
    }

    &__loadrole {
      height: 12px;
      width: 95%;
      background-color: #E1E4E9;
      border-radius: 16px;
    }

    &__loadphone {
      height: 12px;
      width: 95%;
      background-color: #E1E4E9;
      border-radius: 16px;
    }
  }

  &__nodata {
    height: 74%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__first {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0px;
      color: #000000;
    }

    &__second {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0px;
      vertical-align: middle;
      color: #677A90
    }
  }

  &__foot {
    height: 50px;
    min-width: 1084px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 8px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: normal;
    border-top: 1px solid #C2CAD3;

    &__show {
      font-weight: 500;
      font-size: 12px;
      width: 31px;
      height: 20px;
      line-height: 20px;
      letter-spacing: 0px;
      color: #677A90
    }

    &__setlimit {
      height: 32px;
      width: 66px;
      border: 1px solid #C2CAD3;
      padding-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;

      &__limit {
        height: 20px;
        width: 16px;
        border: none;
        outline: none;
        font-weight: 400;
        color: #29313A;
      }

      &__btn {
        height: 100%;
        width: 50%;
        background-color: #ffffff;
        border: none;
      }
    }

    &__change {
      display: flex;
      gap: 10px;

      &__dots {
        height: 34px;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__box {
        width: 34px;
        height: 34px;
        border-radius: 8px;
        border: none;
        background-color: transparent;
      }

      &__dark {
        background-color: #F0F2F4;
        border: none;
        width: 34px;
        height: 34px;
        border-radius: 8px;
      }

      &__numbox {
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        width: 34px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0px;
        color: #677A90;

        &--activate {
          background-color: #EBF5FF;
          width: 32px;
          height: 32px;
          border-radius: 8px;
          border: 1px solid #084782;
        }

        // &:hover {
        //   background-color: grey;
        //   cursor: pointer;
        // }
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse; /* removes gaps */
  table-layout: fixed;     /* important for consistent column widths */
  border-bottom: 1px solid #C2CAD3;
  font-weight: normal;
}

th, td {
  padding-left: 10px;
  text-align: left;
  border-bottom: 1px solid #ffffff;
  font-weight: normal;
  vertical-align: middle;
}

th {
  background-color: #ffffff;
  border-bottom: #C2CAD3;
}

// .tablerow {

//   &__name {
//     width: 22%;
//   }

//   &__company {
//     width: 15%;
//   }

//   &__address{
//     width: 28%;
//   }

//   &__role {
//     width: 15%;
//   }

//   &__phone {
//     width: 20%;
//   }
// }

.email {
  font-size: 9px;
  font-weight: lighter;
  margin-top: 5px;
}

.layout-gap {
  display: flex;
  align-items: start;
  justify-content: left;
  gap: 6px;

  &__symb {
    display: flex;
    flex-direction: column;

    &__svg1 {
      background-color: #ffffff;
      border: none;
      height: 10px;
      width: 10px;
      vertical-align: bottom;
    }

    &__svg2 {
      background-color: #ffffff;
      border: none;
      height: 10px;
      width: 10px;
      vertical-align: top;
    }
  }
}

.role {
  padding-left: 15px;
}



// .nav {
//   height: 6vh;
//   width: 100%;
//   background-color: rgb(252, 244, 244);
//   font-weight: 600;
//   padding: 10px;
//   font-size: 25px;
// }